/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGE */
.auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f6fa;
  font-family: "Segoe UI", sans-serif;
}

/* CARD */
.auth-card {
  width: 380px;
  background: #fff;
  padding: 30px 25px;
  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

/* TITLE */
.auth-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 600;
}

/* INPUT */
.auth-input {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.auth-input:focus {
  outline: none;
  border-color: #000;
}

/* BUTTON */
.auth-button {
  width: 100%;
  padding: 12px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.auth-button:hover {
  background: #222;
}

/* LINKS */
.auth-link {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.auth-link span {
  font-weight: 600;
}

.auth-link:hover {
  text-decoration: underline;
}

/* MOBILE */
@media (max-width: 480px) {
  .auth-card {
    width: 90%;
  }
}
